* {
    box-sizing:content-box
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(9, 6vmin);
    grid-template-rows: auto;
    border: .5vmin solid black;
}

#divider {
    border-top: .2vmin solid lightgray;
    width: 55vmin;
    margin: 2vmin 0;
}
.cell {
    border: .1vmin solid grey;
    height: 6vmin;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    margin: 3vmin 0;
}

#keyboard {
    display: grid;
    grid-template-columns: repeat(5, 10vmin);
    grid-template-rows: auto;
    margin: 1vmin 0;
}

.number, .X {
    padding: .75vmin 1vmin;
    margin: .5vmin;
    border: .15vmin solid grey;
    font-weight: bolder;
    background-color:rgb(232,232,232);
}

.numbersToggle {
    width: 30vmin;
    display: flex;
    justify-content: space-between;
}

#normal, #candidate {
    width: 15vmin;
    font-size: 1.25vmin;
    font-weight: 200;
    padding: .75vmin 1vmin;
    background-color: white;
    border: .2vmin solid lightgray;
    color: lightgray
}

#normal {
    background-color: black;
    color: white;
}

#timer {
    height: 4vmin;
    position: relative;
}

p {
    font-size: 3vmin;
}

h2 {
    font-size: 5.5vmin;
}