* {
    box-sizing: content-box;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 4vmin;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(9, 6vmin);
    grid-template-rows: auto;
    border: .5vmin solid black;
}

#divider {
    border-top: .2vmin solid lightgray;
    width: 55vmin;
    margin: 2vmin 0;
}

.cell {
    border: .1vmin solid grey;
    height: 6vmin;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

#winning-message {
    box-shadow: 0px 0px 10px #bbbbbb;
    background-color: white;
    height: 25vmin;
    width: 40vmin;
    padding: 5vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 20vmin 0 0 0;
    text-decoration: none
}

span {
    content: "\272A";
    color: orange;
    transform: scale(4);
}

.header {
    margin: 3vmin 0;
}

#keyboard {
    display: grid;
    grid-template-columns: repeat(5, 10vmin);
    grid-template-rows: auto;
    margin: 1vmin 0;
}

.number,
.X {
    padding: .75vmin 1vmin;
    margin: .5vmin;
    border: .15vmin solid grey;
    font-weight: bolder;
    background-color: rgb(232, 232, 232);
    height: 3vmin;
}

.numbersToggle {
    width: 30vmin;
    display: flex;
    justify-content: space-between;
}

#normal,
#candidate {
    width: 15vmin;
    font-size: 1.25vmin;
    font-weight: 200;
    padding: .75vmin 1vmin;
    background-color: white;
    border: .2vmin solid lightgray;
    color: lightgray;
}

#candidate {
    border-top-right-radius: .25vmin;
    border-bottom-right-radius: .25vmin;
}

#normal {
    background-color: black;
    color: white;
    border-top-left-radius: .25vmin;
    border-bottom-left-radius: .25vmin;
}

#timer {
    height: 4vmin;
    position: relative;
}

p {
    font-size: 2vmin;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 4vmin;
}